/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header */
header{
    height: 20px;
    background-color: #1a1a1a;
    display: flex;
    justify-content: space-between;
    
}

.nav_left{
    display: flex;
}

.fa-shield-virus{
    color: green;
    margin-right: 20px;
}

.fa-dot-circle{
    color: grey;
}

.fas fa-th{
    color: grey;
}

main{
    display: flex;
    /* flex-direction: column; */
    height: calc(100vh - 20px);
    background-color: red;

}

.main_middle{
    display: flex;
    border: 1px solid black;
    background-color: pink;
    width: 60%;
    flex-wrap: wrap;
}

.square{
    height: 150px;
    width: 150px;
    border: 1px solid black;
    background-color: green;
    flex-grow: 1;
}

.main_side{
    display: flex;
    border: 1px solid;
    width: 20%;
}